<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LosPros | LoginAdmin</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />

    <!--Bootstrap CDNs-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="../CSS/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Rubik+Dirt&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="abs-center">
        <form action="#" class="form-loginUser border border-dark p-5 form">
          <div class="form-group">
            <label class="label-email" for="user">Usuario</label>
            <input
              type="text"
              name="user"
              class="form-control"
              placeholder="Usuario"
            />
          </div>
          <div class="form-group">
            <label class="label-password" for="password">Contraseña</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="contraseña"
              class="form-control"
            />
          </div>
          <button type="submit" class="buttons btn btn-primary">Entrar</button>
          <a
            class="mt-3"
            href="https://www.youtube.com/watch?v=az5AXsWVnCc"
            target="_blank"
            rel="noopener noreferrer"
            >Registrarse</a
          >
        </form>
      </div>
    </div>
  </body>
</html>
